@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100..900&family=Yesteryear&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: # white;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 10%;
    flex: 20%;
    /* border: 1px solid red; */
    text-align: left;
}

.logo h1 {
    font-family: "Lobster", sans-serif;
    color: #180f4a;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#botao {
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #ff2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
}

.headline {
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid deeppink; */
    text-align: center;
}

.headline p {
    color: gray;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    background: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background: #180f4a;
}

section {
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    width: 90%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", cursive;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
}